html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

#map {
  /*position: fixed;*/
  top: 0;
  left: 0;
  height: 400px;
  width: 900px;
  z-index: 1;
  bottom: 40px;
}

#earthquake-plot {
  width: 900px;
  z-index: 2;
}

#earthquake-chord {
  bottom: 30px;
  right: 30px;
  z-index: 2;
  width: 650px;
  height: 650px;
  font-size: 22px;
  margin: 0 auto;
}

#earthquake-bar {
  top: 30px;
  right: 30px;
  z-index: 2;
  width: 650px;
  height: 650px;
  font-size: 24px;
  margin: 0 auto;
}

.no-border {
  border: none;
}

/* Map */

.leaflet-popup-content ul { padding-left: 1.5em; }

.leaflet-container { background-color:rgba(255,0,0,0.0);}

.circle { visibility: hidden; }
.circle.selected { visibility: visible; }

svg {
  font: 10px sans-serif;
}

.axis path, .axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

/* Chord */
.chord path {
  fill-opacity: .67;
  stroke: #000;
  stroke-width: .5px;
}

/* Bar */
.axis text {
  font: 10px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.bar {
  fill: steelblue;
  fill-opacity: .9;
}

.x.axis path {
  display: none;
}

label {
  position: absolute;
  top: 10px;
  right: 10px;
}

/* Sections
 * --------------------------------------- */
#section0 img,
#section1 img{
  margin: 20px 0 0 0;
}
#section2 img{
  margin: 20px 0 0 52px;
}
#section3 img{
  bottom: 0px;
  position: absolute;
  margin-left: -420px;
}
.intro p{
  width: 50%;
  margin: 0 auto;
  font-size: 1.5em;
}
